.main {
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: calc(100vh - 2rem);
}

.footer {
  height: 2rem;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  padding: .5rem 0;
  background: rgba(87, 111, 114, .7);
  min-width: 100vw;
}

.levelText {
  padding: 1rem;
}

.chooseLevel {
  display: grid;
  background: rgb(255,255,255, .4);
}

.chooseLevel > nav > ul {
  display: flex;
  color: #000;
}

.chooseLevel > nav > ul > li {
  transition: all .5s ease;
  padding: 2rem;
  aspect-ratio: 1 / 1;
}

.chooseLevel > nav > ul > li:hover {
  background: rgb(255, 255, 255, .7);
}
