.main {
  backdrop-filter: blur(7px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: calc(100vh - 2rem);
}

.footer {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 0;
  gap: .5rem;
  background: rgba(87, 111, 114, .7);
  min-width: 100vw;
}